language: python
python:
  - "3.6"

services:
  - postgresql

addons:
  postgresql: "9.6"

install:
    - pip install .

script: py.test -sv

before_script:
  - psql -c "CREATE DATABASE test  WITH ENCODING='UTF8'" -U postgres
